language: node_js
node_js:
- 8.0.0
sudo: false
addons:
  ssh_known_hosts: "$HOST"
before_install:
- openssl aes-256-cbc -K $encrypted_3790597304f5_key -iv $encrypted_3790597304f5_iv
  -in deploy_key.pem.enc -out deploy_key.pem -d
- eval "$(ssh-agent -s)"
- chmod 600 deploy_key.pem
- ssh-add deploy_key.pem
install:
- npm install
before_deploy:
- npm run predeploy
- ls
deploy:
  provider: script
  skip_cleanup: true
  script:
  - ls
  on:
    all_branches: true
after_script:
- eval "$(ssh-agent -k)"
- echo "Killed SSH Agent"
- rm -rf deploy_key.pem
