language: node_js
node_js:
- 8.5.0
sudo: false
addons:
  ssh_known_hosts: "$HOST"
before_install:
- openssl aes-256-cbc -K $encrypted_3790597304f5_key -iv $encrypted_3790597304f5_iv
  -in deploy_key.pem.enc -out deploy_key.pem -d
- eval "$(ssh-agent -s)"
- chmod 600 deploy_key.pem
- ssh-add deploy_key.pem
install:
- npm install
before_deploy:
- npm run predeploy
deploy:
  provider: script
  skip_cleanup: true
  script: scp -o "StrictHostKeyChecking no" -r $TRAVIS_BUILD_DIR/dist $TRAVIS_BUILD_DIR/server.dist.js
    $TRAVIS_BUILD_DIR/docker-compose.prod.yml $TRAVIS_BUILD_DIR/Dockerfile $TRAVIS_BUILD_DIR/nginx.conf
    $TRAVIS_BUILD_DIR/site.nginx.conf $TRAVIS_BUILD_DIR/package.json $USER@$HOST:/home/ubuntu
  on:
    branch: master
after_script:
- ssh -p 22 -o "StrictHostKeyChecking no" $USER@$HOST "bash -s" < deploy.sh
- eval "$(ssh-agent -k)"
- echo "Killed SSH Agent"
- rm -rf deploy_key.pem
after_failure:
- eval "$(ssh-agent -k)"
- echo "Killed SSH Agent"
- rm -rf deploy_key.pem
env:
  global:
    secure: LYIqHeJ7AFWRTLrWYpqD2ih45+zgNXGhHxxJbkA+2Iusgmbvp38CRrOjwfueEg+9VN0OTSZE2yE14j1x7hOJDr9Mw6BfOkX6/mFiMwRjNWykP8GCPcCEO1mRZxiyfpsei8Zgp1NJgncnbsqcSb26kuZHc1JzNBRW3j3u/O3EX94QiLDjfhaz7SmTweJ0A+EOpLDOmEhdnTIlSNdaztVkXE5uMWLrIppYDkAmo11VrD6lxhshntN+1kytse1oJCJu6kLe6tUODUHZxIIXagnskPA0gF0CfPQLrmfRtsxKXVQMWoBBRVvAhdZiO9g+viR4H+Yj1lVUWs8pXM0rEviUFdauK2Ida2puuzg6pHwQpmXi8rarsDI9EKP0+kFYf9haaXBy3kGC707zcj3bmBwDsptviB93BwX9oUv+E1G2C7cVlxgfC/r0E74AF6GvMdqzmpqJVPMvnGQjFfsiECcEOmE74IaBvz+95GgEdJJ2jgTkoOfMd/FWrd9g66WI3CwQsuYUot6gW6slLPxVPLBScIcSkJ7lG+LfAi/bGUl38yFydR6NKzdOpRmyQgbaB4kOijSiMTkc5oR8NTVQNU0LD1A0G9Rcb84zST1EPvtyjpjjyBOf96LE0PZPLn1jHhWI00/vwHVMn9gRoQnatkmPSU5x3XwmkEd+8pqmIXO+QPs=
