version: "2"

services:
  nginx:
    restart: always
    image: nginx
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - /usr/share/nginx/html:/usr/share/nginx/html
      - ${PWD}/dhparam.pem:/etc/nginx/ssl/dhparam.pem
      - ${PWD}/nginx.conf:/etc/nginx/nginx.conf
      - ${PWD}/site.nginx.conf:/etc/nginx/sites-available/sampastoriza.com
    volumes_from:
      - personal-website
    links:
      - personal-website:personal-website
  personal-website:
    image: personal-website
    restart: always
    build: .
    env_file:
      - production.env
    ports:
      - "3000:3000"
    build:
      context: .
      args:
          WORKING_DIR: /usr
    command: node server.min.js
