.title-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: fantasy;
  color: antiquewhite;
  position: relative;
  top: 200px;
  margin-bottom: -300px;
  z-index: 10;
  background: rgb(34,34,34);
  background: rgba(34,34,34,0.75);
}

#main-title {
  font-size: 30pt;
}

#subtitle {
  font-size: 20pt;
  width: 70%;
}

.carousel-inner img {
  position: relative;
  left: 0px;
  right: 0px;
  width: 100%;
}

.carousel-inner {
  height: 1000px;
}

#rose-picture-1 {
  background: url(../../images/rose-picture-1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#rose-picture-2 {
  background: url(../../images/rose-picture-2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#rose-picture-3 {
  background: url(../../images/rose-picture-3.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.rose-pic {
  height: 1000px;
}

.display-project {
  position: relative;
  top: 300px;
  background: rgb(34,34,34);
  background: rgba(34,34,34,0.75);
  padding: 40px;
}

.thumbnail {
  background: rgb(34,34,34);
  background: rgba(34,34,34,0.75);
}

.contrain-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contrain-photo-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.photo-padding {
  margin: 20px; 
}

.a-picture {
  width: 150px;
  height: 150px;
}

#flickr {
  width: 250px;
  height: 200px; 
}

#roommates {
  width: 230px;
}

.projects-header {
  text-align: center;
  font-size: 30pt;
  color: ghostwhite;
  opacity: 54%;
  padding-bottom: 30px;
}
