.rose-pic {
  width: 100%;
  left: 0px;
  right: 0px;
}

.top-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#main-title {
  color:  #000000;
  font-size: 40pt;
  opacity: 87%;
}

#subtitle {
  color:  #000000;
  font-size: 30pt;
  opacity: 54%
}

#photography {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row div a img {
  width: 150px;
  height: 150px;
}

#roommates {
  width: 230px;
}

.projects-header {
  text-align: center;
  font-size: 30pt;
  color: ghostwhite;
  opacity: 54%;
  padding-bottom: 30px;
}

.display-project {
  position: relative;
  top: -650px;
  bottom: 0px;
  background: rgb(34,34,34);
  background: rgba(34,34,34,0.75);
  padding: 50px;
}

#pic-1 {
  position: relative;
  top: -400px;
}

#pic-2 {
  position: relative;
  top: -900px;
}