<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="profile-tabs">
            <div class="nav-align-center">
                <ul class="nav nav-pills" role="tablist">
                    <li class="active">
                        <a href="#photography" role="tab" data-toggle="tab">
                            <i class="material-icons">camera</i>
                            Photography
                        </a>
                    </li>
                    <li>
                        <a href="#projects" role="tab" data-toggle="tab">
                            <i class="material-icons">code</i>
                            Experience
                        </a>
                    </li>
                    <li>
                        <a href="#resume" role="tab" data-toggle="tab">
                            <i class="material-icons">class</i>
                            Education
                        </a>
                    </li>
                </ul>
                <div class="tab-content gallery">
                    <div class="tab-pane active" id="photography">
                        <photography-portfolio></photography-portfolio>
                    </div>
                    <div class="tab-pane" id="projects">
                        <div class="row resizable">
                            <div class="col-md-6">
                                <a href="https://pastorsj.github.io/node-fred-api/">
                                    <img src="assets/img/fred-logo.png" class="img-rounded img-responsive" alt="Fred API" />
                                </a>
                                <a href="https://github.com/pastorsj/node-gist-html">
                                    <img src="assets/img/logo_gist.png" class="img-rounded img-responsive" alt="Gist to HTML" />
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="https://github.com/Prescientje/react-podcaster">
                                    <img src="assets/img/podcast.png" class="img-rounded img-responsive" />
                                </a>
                                <a href="https://blog.sampastoriza.com">
                                    <img src="assets/img/blog.png" class="img-rounded img-responsive" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="resume">
                        <div class="row center-photo">
                            <div class="col-md-5">
                                <a href="http://resume.github.io/?pastorsj">
                                    <img src="assets/img/github-logo.png" class="img-rounded img-responsive" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
