<div class="profile-tabs">
    <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#photography" role="tab" data-toggle="tab">
                <i class="material-icons">camera</i> Photography
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#projects" role="tab" data-toggle="tab">
                <i class="material-icons">code</i> Software
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#resume" role="tab" data-toggle="tab">
                <i class="material-icons">class</i> Education
            </a>
        </li>
    </ul>
    <div class="tab-content tab-space">
        <div class="tab-pane active text-center" id="photography">
            <photography-portfolio></photography-portfolio>
        </div>
        <div class="tab-pane text-center gallery" id="projects">
            <div class="row center-photo">
                <div class="col-md-8 ml-auto">
                    <a href="https://pastorsj.github.io/node-fred-api/">
                        <img src="assets/img/fred-logo.png" class="rounded" alt="Fred API" />
                    </a>
                </div>
            </div>
            <div class="row center-photo">
                <div class="col-md-8 ml-auto">
                    <a href="https://github.com/pastorsj/node-gist-html">
                        <img src="assets/img/logo_gist.png" class="rounded" alt="Gist to HTML" />
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 ml-auto">
                    <a href="https://github.com/Prescientje/react-podcaster">
                        <img src="assets/img/podcast.png" class="rounded" alt="Podcast Website"/>
                    </a>
                </div>
                <div class="col-md-4 mr-auto">
                    <a href="https://blog.sampastoriza.com">
                        <img src="assets/img/blog.png" class="rounded" alt="Blog" />
                    </a>
                </div>
            </div>
        </div>
        <div class="tab-pane text-center gallery" id="resume">
            <div class="row">
                <div class="col-md-4 ml-auto">
                    <a href="https://www.rose-hulman.edu">
                        <img src="assets/img/rose-logo.jpg" class="rounded" alt="Rose Hulman"/>
                    </a>
                </div>
                <div class="col-md-4 mr-auto">
                    <a href="https://resume.github.io/?pastorsj">
                        <img src="assets/img/github-logo.png" class="rounded" alt="Resume" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
